<?php
/**
 * @see https://app.constantcontact.com/pages/dma/portal to setup your Application and receive credentials
 *
 * RENAME THIS FILE TO `credentials.php`
 */
return [
    'client_id' => 'CLIENT ID',
    'client_secret' => 'SECRET'
];